.top-18 {
  top: 18% !important;
}

.breadcrumb {
  --bs-breadcrumb-item-active-color: #344767;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.navbar-dark a:not(.btn):not(.dropdown-item) {
  color: var(--bs-light) !important;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-collapse .navbar-nav .nav-link i {
  color: var(--bs-gray-500);
}

.navbar-dark .breadcrumb .breadcrumb-item:not(.active) i:hover,
.navbar-dark .navbar-collapse .navbar-nav .nav-link:hover {
  color: var(--bs-yellow) !important;
}

.navbar-dark .breadcrumb {
  --bs-breadcrumb-item-active-color: var(--bs-light);
}

.navbar-dark .breadcrumb .breadcrumb-title {
  color: var(--bs-light) !important;
}

.input-group {
  flex-direction: column;
}

.input-group.input-group-static.required label:after {
  content: " *";
  color: var(--bs-red);
}

.input-group.input-group-static .form-control {
  transition: none !important;
}

.input-group.input-group-static .form-control.is-invalid {
  border: 0 !important;
  padding: .625rem 0;
  border-bottom: 1px solid #fd5c70 !important;
}

.input-group.input-group-static .form-control.is-invalid:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #fd5c70 !important;
}

/*====================================================================================*/
/* START COMBOBOX CSS */
/*====================================================================================*/
.choices,
.choices[data-type*=select-one] .choices__inner,
.choices.is-invalid[data-type*=select-one],
.choices.is-invalid[data-type*=select-one] .choices__inner {
  margin-bottom: 0;
  padding-bottom: 0;
}

.choices[data-type*=select-one]:after {
  right: 2px !important;
}

.choices .form-control.is-invalid {
  background-position: right 1.2rem center !important;
}

.choices__inner, 
.is-open .choices__inner {
  border-radius: 0;
}
/*====================================================================================*/
/* END COMBOBOX CSS */
/*====================================================================================*/

/*====================================================================================*/
/* START DATEPICKER CSS */
/*====================================================================================*/
.react-datepicker-wrapper {
  position: relative;
  width: 100%;
}

.react-datepicker__input-container .form-control.is-invalid {
  background-position: right 1.5rem center !important;
}

.react-datepicker__header--custom {
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-datepicker__header--custom .datepicker-prev-month {
  left: 0;
}

.react-datepicker__header--custom .datepicker-next-month {
  right: 0;
}

.react-datepicker__header--custom .datepicker-prev-month, 
.react-datepicker__header--custom .datepicker-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 34px;
  padding: 12px;
  z-index: 3;
}

.react-datepicker__header--custom .datepicker-month-year {
  height: 34px;
  line-height: 1;
  text-align: center;
  position: relative;
  user-select: none;
  overflow: hidden;
  flex: 1 1;
}

.react-datepicker__header--custom .datepicker-current-month-year {
  font-size: 135%;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 2px 0 0;
  display: inline-block;
  transform: translateZ(0);
}

.react-datepicker__header--custom .datepicker-monthDropdown-months,
.react-datepicker__header--custom .datepicker-yearDropdown-years {
  background: 0 0;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: medium;
  font-family: inherit;
  font-weight: 300;
  height: auto;
  line-height: inherit;
  margin: -1px 0 0;
  outline: none;
  padding: 0 0 0 .5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  width: auto;
}

.react-datepicker__header--custom .datepicker-monthDropdown-month,
.react-datepicker__header--custom .datepicker-yearDropdown-year {
  background-color: transparent;
  outline: none;
  padding: 0;
}
/*====================================================================================*/
/* END COMBOBOX CSS */
/*====================================================================================*/
