.top-18 {
  top: 18% !important;
}

.breadcrumb {
  --bs-breadcrumb-item-active-color: #344767;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.navbar-dark a:not(.btn):not(.dropdown-item) {
  color: var(--bs-light) !important;
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-collapse .navbar-nav .nav-link i {
  color: var(--bs-gray-500);
}

.navbar-dark .breadcrumb .breadcrumb-item:not(.active) i:hover,
.navbar-dark .navbar-collapse .navbar-nav .nav-link:hover {
  color: var(--bs-yellow) !important;
}

.navbar-dark .breadcrumb {
  --bs-breadcrumb-item-active-color: var(--bs-light);
}

.navbar-dark .breadcrumb .breadcrumb-title {
  color: var(--bs-light) !important;
}

.input-group.input-group-static .form-control {
  transition: none !important;
}

.input-group.input-group-static .form-control.is-invalid {
  border: 0 !important;
  padding: .625rem 0;
  border-bottom: 1px solid #fd5c70 !important;
}

.input-group.input-group-static .form-control.is-invalid:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #fd5c70 !important;
}

.choices.is-invalid[data-type*=select-one],
.choices.is-invalid[data-type*=select-one] .choices__inner {
  margin-bottom: 0;
  padding-bottom: 0;
}

.choices .form-control.is-invalid {
  background-position: right 1.7rem center !important;
}

.choices__inner, 
.is-open .choices__inner {
  border-radius: 0;
}

.react-datepicker-wrapper {
  position: relative;
  width: 100%;
}

.react-datepicker-wrapper .form-control.is-invalid {
  background-position: right 1.2rem center !important;
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
}
