.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-toggler {
	color: var(--bs-gray-500);
}

.navbar-dark a:not(.btn):not(.dropdown-item) {
  color: var(--bs-light);
}